h1 {
    font-size: 80px;
    color: white;
    display: inline;
}

h2 {
    font-family: 'Roboto', sans-serif;    
    color: white;
    font-size: 40px;
}

h3 {
    font-size: 32px;
    display: inline;
    font-weight: 700;
    color: white;
}

h4 {
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 20;
    font-weight: 700;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.grid-header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    font-family: 'Roboto', sans-serif;
    background-color: #D20908;
}

.name {
    margin-left: 10%;
}

.links {
    margin-right: 10%;
    padding-top: 25px;
}
.links a {
    padding-right: 10px;
    padding-left: 10px;
}

.about-img {
    grid-area: about-img;
    background-color: #FFCB95;
    align-self: stretch; 
}

.about-img img {
    padding-top: 12%;
    padding-bottom: 12%;
    display: block;
    margin: auto;
    width: 60%;
}

.about-txt {
    grid-area: about-txt;
    background-color: #B7D2E9;
    min-height: 700px;
}

.about-txt p {
    padding-top: 22%;
    padding-bottom: 22%;
    display: block;
    margin: auto;
    width: 75%;

    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    color: #D20908;
}

.grid-foot {
    grid-area: footer;
    background-color: #D20908;
}

.grid-main {
    display: grid;
    align-items: stretch;
    grid-template-columns: 20% 10% 20% 20% 10% 20% ;
    grid-template-rows: auto auto auto auto auto auto  auto auto 100px;
    grid-template-areas: 
        "header header header header header header"
        "about-img about-img about-img about-txt about-txt about-txt"
        "projects projects projects projects projects projects"
        "proj1 proj1 proj1 proj2 proj2 proj2"
        "proj3 proj3 proj3 proj4 proj4 proj4"
        "xp xp xp xp xp xp "
        "xp1pic xp1pic xp1 xp2 xp2 ."
        "xp3pic xp3pic xp3 xp3 xp3 xp3"
        "footer footer footer footer footer footer";
}

.grid-projects {
    grid-area: projects;
    background-color: #D20908;
    padding-left: 10%;
}

.grid-xp {
    grid-area: xp;
    background-color: #D20908;
    padding-left: 10%;
}

.proj-gif {
    margin: auto;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.project1 {
    text-align: center;
    grid-area: proj1;
    background-color: #B7D2E9;
    color: #D20908;
}
.project2 {
    text-align: center;
    grid-area: proj2;
    background-color: #FFCB95;
}
.project3 {
    text-align: center;
    grid-area: proj3;
    background-color: #FEB0A5;
}
.project4 {
    grid-area: proj4;
    text-align: center;
    background-color: #2F2982;
    color: #FED646;
}
.project4 a {
    color: #FEB0A5;
}

.xp1 { 
    grid-area: xp1; 
    align-self: center;
}

.xp1pic { 
    grid-area: xp1pic;
    padding-top: 12%;
    padding-bottom: 12%;
    display: block;
    margin: auto;
    width: 60%;
}

.xp3pic { 
    grid-area: xp3pic;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.xp3pic img {
    border-radius: 8px;
}

.xp2 {
    grid-area: xp2;
    align-self: center;
}
.xp3 {
    grid-area: xp3;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}